footer {
    clear: both;
	position: absolute;
	top: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
	width: 100%;
}

#FooterContainer {
    width: 80%;
    font-size: 11px;
    color: #888;
    margin-left: 10%;
    line-height: 40px;
}

#FooterContainer a {
    color: #666;
}

#FooterContainer > div:nth-child(1) a {
    margin: 0 5px 0 5px;
}