section {
	width: 100%;
}

#SectionContainer {
    position: relative;
    height: auto;
}

.ProjectOutline {
    position: relative;
    width: 100%;
    height: auto;
    background-color: #fff;
    border-bottom: 1px solid #999;
    z-index: 80;
    box-shadow: 0 0px 3px #aaa;

}

.ProjectIntro {
    float: left;
}

.ProjectName {
    position: absolute;
    top: 20px;
    left: 35px;
}

.ProjectName > span:nth-child(1) {
    font-size: 25px;
    font-weight: 300;
}

.ProjectName > span:nth-child(2) {
    font-size: 10px;
    font-weight: 400;
    margin-left: 10px;
    color: #444;
}

.ProjectDescription {
    position: absolute;
    top: 65px;
    left: 45px;
    width: 350px;
    line-height: 20px;
    font-size: 13px;
    font-weight: 100;
    color: #333;
}

.Participant {
    float: right;
    width: 65%;
    margin-top: 30px;
    margin-right: 40px;
    font-size: 10px;
    line-height: 30px;
}

.ViewBy {
    clear: both;
    width: 140px;
    height: 30px;
    margin: 15px 0 15px 85%;
    border-radius: 5px;
    border: 2px solid #FAA84B;
    line-height: 30px;
    font-size: 12px;
}

.ViewBy span {
    margin-left: 10px;
    color: #000;
}

.ViewByIcon {
}

.ProjectPlan {
	height: 100%;
}

.IssueBar {
    position: absolute;
    width: 15%;
    height: auto;
    background-color: #fff;
    border-right: 1px solid #999;
	border-bottom: 3px solid #999;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
    z-index: 60;
}

.IssueContainer {
}

.IssueContainer li {
	width: 100%;
	height: 50px;
}

.IssueContainer li:nth-child(1) {
	margin-top: 50px;
}

.Issue {
	width: 80%;
	height: 40px;
	margin: 10px 10% 10px 10%;
	overflow: hidden;
}

.Issue:hover {
	border-top: 1px solid #999;
	border-left: 1px solid #999;
	border-right: 4px solid #999;
	border-bottom: 5px solid #999;
	border-radius: 6px;		
}

.Issue span {
	color: #333;
    font-size: 14px;
    font-weight: 100;
    line-height: 40px;
	margin-top: 15px;
	margin-left: 14px;
}

.AddIssueContainer {
	width: 100%;
	height: 60px;
}

.AddIssue {
	padding-top: 20px;
	padding-left: 30px;
}

.AddIssueIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #777;
}

.AddIssueText {
    font-size: 14px;
    font-weight: 400;
    color: #333;
}

.DateBar {
	position: absolute;
	left: 15%;
    width: 100%;
    height: 40px;
    background-color: #fff;
    z-index: 40px;
	border-bottom: 5px solid #333;
}

.DateContainer {
	margin-top: 10px;
}

.DateContainer li {
	float: left;
	font-size: 9px;
}

.PlanPage {
	position: relative;
	top: 45px;
	left: 15%;
	width: 100%;
	height: auto;
	background-color: #fff;
	z-index: 10px;
}

.PlanPage li {
	height: 60px;
}